body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}
header{
    background-color: #360b41;
    color: #ccc9aa;
    text-align: center;
    padding: 1rem 0;
}
.banner_content{
    width: 100%;
}
.banner h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.banner p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
nav a{
    text-decoration: none;
    color: #CCC9AA;
    margin: 0rem 1rem;
    padding: 0.5rem 1rem;
    background-color: #4f2c4d;
}
nav a:hover{
    background-color: #7d677e;
}
main{
    width: 80%;
    margin: 2rem auto;
}
/*estilo das aba de produto bebida pedido e contato*/

.categoria{
    margin-bottom: 2rem;
}
.produto{
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.produto img{
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.preco{
    font-weight: bold;
    color: #ff9800;
    margin-bottom: 1rem;
}
.adicionar{
    background-color: #ffca28;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}
.adicionar:hover{
    background-color: #ffdd75;
}
#pedido{
    background-color: #ccc9aa;
    padding: 1rem;
    border-radius: 10px;
}
#Lista_Pedido{
    list-style: none;
    padding: 0;
}
#contato{
    text-align: center;
    margin-top: 2rem;
}
.redes_sociais a{
    display: inline-block;
    background-color: #ccc9aa;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin: 0.5rem;
}
footer{
    text-align: center;
    padding: 1rem 0rem;
    background-color: #360b41;
    color: #fff;
    font-weight: bold;
}
/*estilo de responsividade*/
@media(min-width: 768px){
    main{
        width: 60%;
    }
    .categoria{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,ilf));
        gap: 1rem;
    }
}